<div class="container">
  <footer class="footer">
  <small>
    Copyright &copy; <a href="https://www.udemy.com/course/the-complete-ruby-on-rails-developer-course">This Project was made during The Complete Ruby on Rails Developer Course</a> 
    Alpha Blog by <a href="http://www.pascalmayr.com/">Pascal Mayr</a>
  </small>
  <nav>
    <ul>
      <li>
        <%= link_to "About", pages_about_path %>
      </li>
    </ul>
  </nav>
  </footer>
</div>