<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <%= link_to "Alpha blog", root_url , class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
      <%= link_to "Sign up", "#", class: "nav-link btn btn-primary mr-lg-3 mt-3 mt-lg-0 px-3 text-white" %>
      </li>
      <li>
        <%= link_to "Log in", "#", class: "nav-link btn btn-warning mr-lg-3 mt-3 mt-lg-0 px-3" %>
      </li>
      <li>
        <%= link_to "Create new article", new_article_path, class: "nav-link btn btn-secondary text-white mr-lg-3 mt-3 mt-lg-0 px-3" %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning text-white my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>